/*------------------------------------*\
    SEEDPROD STYLE
\*------------------------------------*/

/*------------------------------------*\
    FONTS
\*------------------------------------*/


/*------------------------------------*\
    GLOBAL
\*------------------------------------*/
html {
    background: #fafafa;
}
body {
    background: #fafafa;
    background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#fafafa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#fafafa 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#fafafa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
    background-repeat:no-repeat;
    background-size:100% 400px;

    font-family: "freight-sans-pro-1","freight-sans-pro-2","Helvetica Neue",Helvetica,Arial,sans-serif ;
    font-size: 16px;
}

.uk-button{
    font-weight:600;
}

article{
    font-size:16px;
    line-height: 22px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    font-family: "freight-sans-pro-1","freight-sans-pro-2", "Helvetica Neue",Helvetica,Arial,sans-serif ;
}

.uk-text-small {
    font-size: 14px;
    line-height: 16px;
}

.seed-button-xlarge{
    min-height: 40px;
    padding: 10px 29px;
    line-height: 38px;
    font-size: 23px;
    border-radius: 5px;
}

.seed-margin-medium-bottom {
    margin-bottom: 30px !important;
}

.seed-padding-medium {
    padding:30px;
}

.seed-padding-large {
    padding:50px;
}


.twitter-timeline{
    margin-left: auto !important;
    margin-right: auto !important;
}



/*------------------------------------*\
    HEADER
\*------------------------------------*/
.seed-navbar {
    padding: 20px 0;
    border: none;
    background: transparent;
}

.seed-navbar .uk-navbar-nav > li > a {
    box-shadow:none;
    border:none !important;
}

/*------------------------------------*\
    FRONT PAGE
\*------------------------------------*/
#seed-featured-container{
    position:relative;
}

#seed-featured-container img{
    width:500px;
}

#seed-featured h1{
    font-weight:normal;
}

#seed-feature-1:before{
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    border-top: 1px #ddd solid;
    width: 300px;
}

#seed-feature-1{
    position: absolute;
    top: 68px;
    left: 20px;
    width: 180px;
    text-align: left;
    padding-top:10px;
}

#seed-feature-2:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px #ddd solid;
    width: 325px;
}

#seed-feature-2{
    position: absolute;
    top: 90px;
    right: 20px;
    width: 180px;
    text-align: right;
    padding-top:10px;
}

#seed-feature-3:before{
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    border-top: 1px #ddd solid;
    width: 370px;
}

#seed-feature-3{
    position: absolute;
    top: 213px;
    left: 20px;
    width: 180px;
    text-align: left;
    padding-top:10px;
}

#seed-feature-4:before{
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    border-top: 1px #ddd solid;
    width: 350px;
}

#seed-feature-4{
    position: absolute;
    top: 325px;
    left: 20px;
    width: 180px;
    text-align: left;
    padding-top:10px;
}

#seed-feature-5:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px #ddd solid;
    width: 320px;
}

#seed-feature-5{
    position: absolute;
    top: 272px;
    right: 20px;
    width: 180px;
    text-align: right;
    padding-top:10px;
}

#seed-feature-6:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px #ddd solid;
    width: 320px;
}

#seed-feature-6{
    position: absolute;
    top: 175px;
    right: 20px;
    width: 180px;
    text-align: right;
    padding-top:10px;
}

#seed-trust{
    position: relative;
    top: -151px;
    left: 218px;
    margin-bottom: -82px;
    width: 175px;
}

#seed-logo-services{
    opacity: 0.6;
}

#seed-testimonials .uk-panel-box{
    padding-bottom: 0;
}

#seed-testimonials i{
    color: #55acee;
}


/*------------------------------------*\
    FOOTER
\*------------------------------------*/
#ft a {
    color: #444 !important;
}

#ft-logo{
    width:90px;
    opacity:0.8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*------------------------------------*\
	FEATURES PAGE
\*------------------------------------*/
#feature-list .fl-feature{margin-bottom:20px;}
#feature-list .fl-feature h3{line-height:30px;}
#feature-list .fl-feature ul{margin-top:15px;}
#feature-list .fl-feature ul li{font-size:14px;padding-bottom:5px; line-height:16px;}
#feature-list .fl-feature ul li small{color:#999;display:block;}
#feature-list .fl-feature img{float:left;margin-right:10px;}

/*------------------------------------*\
    PERKS PAGE
\*------------------------------------*/
.perks .uk-panel img{
    max-width:300px;
}

.perks .uk-badge{
    font-size:14px;
    padding:5px;
}


/*------------------------------------*\
	PRICING PAGE
\*------------------------------------*/
.pricing-b{
	#pricing-plans td, #pricing-plans th, #pricing-plans th h1{
	text-align:center;
}

#pricing-plans th{
	vertical-align:middle;
}


#pricing-plans h3{
	color:#fff;
	margin: 0;
	font-size: 32px;
}




#pricing-plans table{
	border-width:2px;
}

#pricing-testimonials{
	margin:80px 0;
}

#tab-content-3{
	text-align:center;
	img{
		margin-bottom:80px;
	}
}



.package{
	position:relative;
	h3{
		font-weight: 500;
		font-size: 26px;
		margin: 0 0 10px 0;
		//text-transform:uppercase;
		color:#fff;
		span{
			font-size:16px;
			display:block;
		}
	}
	.price{
		font-size: 48px;
		line-height: 48px;
		color: #fff;
		margin: 10px 0 -10px -15px;
		font-weight: 700;
	}
	.currency{
		color: #f2f2f2;
		font-size: 24px;
		font-weight: 300;
		padding-right:3px
	}

}

div.column_ribbon {
width: 42px;
height: 42px;
position: absolute;
right: 0;
top:0px;
background: url(images/ribbons/ribbon_style1_best.png);
}

.shadow{
	position:relative;
}


.shadowleft:before {
    box-shadow: -15px 0 15px -15px inset;
    content: " ";
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 15px;
}

.shadowright:after {
    box-shadow: 15px 0 15px -15px inset;
    content: " ";
    height: 100%;
    position: absolute;
    right: -15px;
	top:0;
    width: 15px;
}

.strikeout{
	position: relative;
	//font-size:16px;
	opacity: 0.5;
}
.strikeout::after {
    border-bottom: 2px solid #666;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}

.special{
  font-size: 11px;
  color: #fff;
  opacity: 0.8;
  padding-top: 10px;
  display: inline-block;
}

 #pricing-table {
font-size: 16px;
    h3{
        font-weight:bold;
        span{
            font-weight:normal;
        }
    }
}

@pricing-color: #6fac34;
#package0{
	background-color:@pricing-color;
	#gradient > .vertical(@pricing-color, darken(@pricing-color, -10%), 0%, 100%);
	z-index: 99;
}

#package1{
	background-color:@pricing-color;
	#gradient > .vertical(@pricing-color, darken(@pricing-color, 10%), 0%, 100%);
	z-index: 99;
    width: 25%;
}

#package2{
	background-color:darken(@pricing-color, 10%);
	#gradient > .vertical(darken(@pricing-color, 10%), darken(@pricing-color, 20%), 0%, 100%);
}


#package3{
	background-color:darken(@pricing-color, 20%);
	#gradient > .vertical(darken(@pricing-color, 20%), darken(@pricing-color, 30%), 0%, 100%);
}


#pricing-table{
    table{
        border:1px solid #ddd;
        background: #fff;
    }

	.feature{
			background:#fafafa;
			text-align:left;
		i {
			padding-right:10px;
		}
	}
}
}



#pricing-plans,#pricing-testimonials,#pricing-faqs{
	margin-bottom:60px
}

.header_row_2 img{
	width:135px;
	margin:-30px 0 21px;
}

#pricing-plans{
	h1{
		text-align:center;
		margin-bottom:0px;
	}

	h3{
		text-align:center;
		margin:0 0 30px;
		color:#555;
	}

	.p_table h3{
	color:#f5f5f5;
	}

	div.p_table div.column_2{
		.box-shadow(rgba(0, 0, 0, 0.5) 0 3px 15px);
	}

	div.p_table div.column_1{
		.box-shadow(rgba(0, 0, 0, 0.4) 0 1px 2px);
	}

	div.p_table .footer_row{
		text-align:center;
		height: 62px;
		a{
		color: #fff;
		}

	}

	.p_table .column_2{
		margin-right:80px;
	}
}

#pricing-faqs h3{
	line-height: 28px;
	color:#555;
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media (max-width: 768px) {
    #seed-trust{
        width: 175px;
        position: static;
        top: 0;
        left: 0;
        margin: -20px 0 20px;
    }
}

@media (max-width: 768px) {
    .seed-padding-large{
            padding:20px !important;
    }
    .uk-article-title, .uk-article-meta{
        text-align:center;
    }
    #buy-callout-csp span{
        display:inline-block;
        margin-bottom:10px;
    }

    .uk-container{
        padding:10px;
    }

    article {
      font-size: 18px;
      line-height: 26px;
    }

    #hd a, #hd ul{
        float:none;
        display: inline-block;
        margin-left:auto;
        margin-right:auto;
    }
    #hd a{
        display: block;
    }
    #hd .uk-container{
        text-align:center;
    }
    #hd .uk-navbar-flip{
        float:none;
    }
}


/*------------------------------------*\
    MIXINS
\*------------------------------------*/

// Box Shadow

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

// Gradients

#gradient {

  // Horizontal gradient, from left to right
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  // Color stops are not available in IE9 and below.
  .horizontal(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image: -webkit-linear-gradient(left, @start-color @start-percent, @end-color @end-percent); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(left, @start-color @start-percent, @end-color @end-percent); // Opera 12
    background-image: linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down
  }

  // Vertical gradient, from top to bottom
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  // Color stops are not available in IE9 and below.
  .vertical(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);  // Opera 12
    background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down
  }

  .directional(@start-color: #555; @end-color: #333; @deg: 45deg) {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(@deg, @start-color, @end-color); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(@deg, @start-color, @end-color); // Opera 12
    background-image: linear-gradient(@deg, @start-color, @end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  }
  .horizontal-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
    background-image: -webkit-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
    background-image: -o-linear-gradient(left, @start-color, @mid-color @color-stop, @end-color);
    background-image: linear-gradient(to right, @start-color, @mid-color @color-stop, @end-color);
    background-repeat: no-repeat;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
  }
  .vertical-three-colors(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
    background-image: -webkit-linear-gradient(@start-color, @mid-color @color-stop, @end-color);
    background-image: -o-linear-gradient(@start-color, @mid-color @color-stop, @end-color);
    background-image: linear-gradient(@start-color, @mid-color @color-stop, @end-color);
    background-repeat: no-repeat;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color))); // IE9 and down, gets no color-stop at all for proper fallback
  }
  .radial(@inner-color: #555; @outer-color: #333) {
    background-image: -webkit-radial-gradient(circle, @inner-color, @outer-color);
    background-image: radial-gradient(circle, @inner-color, @outer-color);
    background-repeat: no-repeat;
  }
  .striped(@color: rgba(255,255,255,.15); @angle: 45deg) {
    background-image: -webkit-linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
    background-image: linear-gradient(@angle, @color 25%, transparent 25%, transparent 50%, @color 50%, @color 75%, transparent 75%, transparent);
  }
}
