/*------------------------------------*\
    SEEDPROD STYLE
\*------------------------------------*/
/*------------------------------------*\
    FONTS
\*------------------------------------*/
/*------------------------------------*\
    GLOBAL
\*------------------------------------*/
html {
  background: #fafafa;
}
body {
  background: #fafafa;
  background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fafafa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0);
  /* IE6-9 */
  background-repeat: no-repeat;
  background-size: 100% 400px;
  font-family: "freight-sans-pro-1", "freight-sans-pro-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.uk-button {
  font-weight: 600;
}
article {
  font-size: 16px;
  line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "freight-sans-pro-1", "freight-sans-pro-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.uk-text-small {
  font-size: 14px;
  line-height: 16px;
}
.uk-navbar-nav > li > a {
  text-shadow: none;
}
.seed-button-xlarge {
  min-height: 40px;
  padding: 10px 29px;
  line-height: 38px;
  font-size: 23px;
  border-radius: 5px;
}
.seed-margin-medium-bottom {
  margin-bottom: 30px !important;
}
.seed-padding-medium {
  padding: 30px;
}
.seed-padding-large {
  padding: 50px;
}
.twitter-timeline {
  margin-left: auto !important;
  margin-right: auto !important;
}
/*------------------------------------*\
    HEADER
\*------------------------------------*/
.seed-navbar {
  padding: 20px 0;
  border: none;
  background: transparent;
}
.seed-navbar .uk-navbar-nav > li > a {
  box-shadow: none;
  border: none !important;
}
.product-coming-soon-pro #pg {
  background: linear-gradient(to top, #fafafa 0%, #f0f0ca 25%, #f7dfcd 100%);
  background-repeat: no-repeat;
  background-size: 100% 600px;
}
.product-404-page-pro #pg {
  background: linear-gradient(to top, #fafafa 0%, #c9efe5 25%, #d4e6f2 100%);
  background-repeat: no-repeat;
  background-size: 100% 800px;
}
/*------------------------------------*\
    FRONT PAGE
\*------------------------------------*/
#seed-featured-container {
  position: relative;
}
#seed-featured-container img {
  width: 500px;
}
#seed-featured h1 {
  font-weight: normal;
}
#seed-feature-1:before {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  border-top: 1px #ddd solid;
  width: 300px;
}
#seed-feature-1 {
  position: absolute;
  top: 68px;
  left: 20px;
  width: 180px;
  text-align: left;
  padding-top: 10px;
}
#seed-feature-2:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px #ddd solid;
  width: 325px;
}
#seed-feature-2 {
  position: absolute;
  top: 90px;
  right: 20px;
  width: 180px;
  text-align: right;
  padding-top: 10px;
}
#seed-feature-3:before {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  border-top: 1px #ddd solid;
  width: 370px;
}
#seed-feature-3 {
  position: absolute;
  top: 213px;
  left: 20px;
  width: 180px;
  text-align: left;
  padding-top: 10px;
}
#seed-feature-4:before {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  border-top: 1px #ddd solid;
  width: 350px;
}
#seed-feature-4 {
  position: absolute;
  top: 325px;
  left: 20px;
  width: 180px;
  text-align: left;
  padding-top: 10px;
}
#seed-feature-5:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px #ddd solid;
  width: 320px;
}
#seed-feature-5 {
  position: absolute;
  top: 272px;
  right: 20px;
  width: 180px;
  text-align: right;
  padding-top: 10px;
}
#seed-feature-6:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px #ddd solid;
  width: 320px;
}
#seed-feature-6 {
  position: absolute;
  top: 175px;
  right: 20px;
  width: 180px;
  text-align: right;
  padding-top: 10px;
}
#seed-trust {
  position: relative;
  top: -151px;
  left: 218px;
  margin-bottom: -82px;
  width: 175px;
}
#seed-logo-services {
  opacity: 0.6;
}
#seed-testimonials .uk-panel-box {
  padding-bottom: 0;
}
#seed-testimonials i {
  color: #55acee;
}
/*------------------------------------*\
    FOOTER
\*------------------------------------*/
#ft a {
  color: #444 !important;
}
#ft-logo {
  width: 90px;
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/*------------------------------------*\
	FEATURES PAGE
\*------------------------------------*/
#feature-list .fl-feature {
  margin-bottom: 20px;
}
#feature-list .fl-feature h3 {
  line-height: 30px;
}
#feature-list .fl-feature ul {
  margin-top: 15px;
}
#feature-list .fl-feature ul li {
  font-size: 14px;
  padding-bottom: 5px;
  line-height: 16px;
}
#feature-list .fl-feature ul li small {
  color: #999;
  display: block;
}
#feature-list .fl-feature img {
  float: left;
  margin-right: 10px;
}
/*------------------------------------*\
    PERKS PAGE
\*------------------------------------*/
.perks .uk-panel img {
  max-width: 300px;
}
.perks .uk-badge {
  font-size: 14px;
  padding: 5px;
}
/*------------------------------------*\
	PRICING PAGE
\*------------------------------------*/
.pricing-b #pricing-plans td,
.pricing-b #pricing-plans th,
.pricing-b #pricing-plans th h1 {
  text-align: center;
}
.pricing-b #pricing-plans th {
  vertical-align: middle;
}
.pricing-b #pricing-plans h3 {
  color: #fff;
  margin: 0;
  font-size: 32px;
}
.pricing-b #pricing-plans table {
  border-width: 2px;
}
.pricing-b #pricing-testimonials {
  margin: 80px 0;
}
.pricing-b #tab-content-3 {
  text-align: center;
}
.pricing-b #tab-content-3 img {
  margin-bottom: 80px;
}
.pricing-b .package {
  position: relative;
}
.pricing-b .package h3 {
  font-weight: 500;
  font-size: 26px;
  margin: 0 0 10px 0;
  color: #fff;
}
.pricing-b .package h3 span {
  font-size: 16px;
  display: block;
}
.pricing-b .package .price {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  margin: 10px 0 -10px -15px;
  font-weight: 700;
}
.pricing-b .package .currency {
  color: #f2f2f2;
  font-size: 24px;
  font-weight: 300;
  padding-right: 3px;
}
.pricing-b div.column_ribbon {
  width: 42px;
  height: 42px;
  position: absolute;
  right: 0;
  top: 0px;
  background: url(images/ribbons/ribbon_style1_best.png);
}
.pricing-b .shadow {
  position: relative;
}
.pricing-b .shadowleft:before {
  box-shadow: -15px 0 15px -15px inset;
  content: " ";
  height: 100%;
  left: -15px;
  position: absolute;
  top: 0;
  width: 15px;
}
.pricing-b .shadowright:after {
  box-shadow: 15px 0 15px -15px inset;
  content: " ";
  height: 100%;
  position: absolute;
  right: -15px;
  top: 0;
  width: 15px;
}
.pricing-b .strikeout {
  position: relative;
  opacity: 0.5;
}
.pricing-b .strikeout::after {
  border-bottom: 2px solid #666;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}
.pricing-b .special {
  font-size: 11px;
  color: #fff;
  opacity: 0.8;
  padding-top: 10px;
  display: inline-block;
}
.pricing-b #pricing-table {
  font-size: 16px;
}
.pricing-b #pricing-table h3 {
  font-weight: bold;
}
.pricing-b #pricing-table h3 span {
  font-weight: normal;
}
.pricing-b #package0 {
  background-color: #6fac34;
  background-image: -webkit-linear-gradient(top, #6fac34 0%, #88c84b 100%);
  background-image: -o-linear-gradient(top, #6fac34 0%, #88c84b 100%);
  background-image: linear-gradient(to bottom, #6fac34 0%, #88c84b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6fac34', endColorstr='#ff88c84b', GradientType=0);
  z-index: 99;
}
.pricing-b #package1 {
  background-color: #6fac34;
  background-image: -webkit-linear-gradient(top, #6fac34 0%, #568528 100%);
  background-image: -o-linear-gradient(top, #6fac34 0%, #568528 100%);
  background-image: linear-gradient(to bottom, #6fac34 0%, #568528 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6fac34', endColorstr='#ff568528', GradientType=0);
  z-index: 99;
  width: 25%;
}
.pricing-b #package2 {
  background-color: #568528;
  background-image: -webkit-linear-gradient(top, #568528 0%, #3c5e1c 100%);
  background-image: -o-linear-gradient(top, #568528 0%, #3c5e1c 100%);
  background-image: linear-gradient(to bottom, #568528 0%, #3c5e1c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff568528', endColorstr='#ff3c5e1c', GradientType=0);
}
.pricing-b #package3 {
  background-color: #3c5e1c;
  background-image: -webkit-linear-gradient(top, #3c5e1c 0%, #233710 100%);
  background-image: -o-linear-gradient(top, #3c5e1c 0%, #233710 100%);
  background-image: linear-gradient(to bottom, #3c5e1c 0%, #233710 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c5e1c', endColorstr='#ff233710', GradientType=0);
}
.pricing-b #pricing-table table {
  border: 1px solid #ddd;
  background: #fff;
}
.pricing-b #pricing-table .feature {
  background: #fafafa;
  text-align: left;
}
.pricing-b #pricing-table .feature i {
  padding-right: 10px;
}
#pricing-plans,
#pricing-testimonials,
#pricing-faqs {
  margin-bottom: 60px;
}
.header_row_2 img {
  width: 135px;
  margin: -30px 0 21px;
}
#pricing-plans h1 {
  text-align: center;
  margin-bottom: 0px;
}
#pricing-plans h3 {
  text-align: center;
  margin: 0 0 30px;
  color: #555;
}
#pricing-plans .p_table h3 {
  color: #f5f5f5;
}
#pricing-plans div.p_table div.column_2 {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 15px;
}
#pricing-plans div.p_table div.column_1 {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
}
#pricing-plans div.p_table .footer_row {
  text-align: center;
  height: 62px;
}
#pricing-plans div.p_table .footer_row a {
  color: #fff;
}
#pricing-plans .p_table .column_2 {
  margin-right: 80px;
}
#pricing-faqs h3 {
  line-height: 28px;
  color: #555;
}
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media (max-width: 768px) {
  #seed-trust {
    width: 175px;
    position: static;
    top: 0;
    left: 0;
    margin: -20px 0 20px;
  }
}
@media (max-width: 768px) {
  .seed-padding-large {
    padding: 20px !important;
  }
  .uk-article-title,
  .uk-article-meta {
    text-align: center;
  }
  #buy-callout-csp span {
    display: inline-block;
    margin-bottom: 10px;
  }
  .uk-container {
    padding: 10px;
  }
  article {
    font-size: 18px;
    line-height: 26px;
  }
  #hd a,
  #hd ul {
    float: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  #hd a {
    display: block;
  }
  #hd .uk-container {
    text-align: center;
  }
  #hd .uk-navbar-flip {
    float: none;
  }
}
/*------------------------------------*\
    MIXINS
\*------------------------------------*/
