<!-- Featured Content -->

<div id="seed-featured">
	<div class="uk-container uk-container-center uk-text-center uk-margin-large-bottom">
		<h1>
			The Ultimate <span class="uk-text-bold">404 Page</span>
			Plugin for WordPress
		</h1>
		<p class="uk-text-large uk-text-muted uk-margin-small-bottom">Allows you to collect leads and create intriguing designs on your 404 pages.<p>
		<div id="seed-featured-container">
			<a href="/features/">
				<img src="http://placehold.it/500x375" class="img-responsive uk-align-center uk-margin-small-bottom">
			</a>
			<div id="seed-feature-1" class="uk-hidden-small uk-text-small uk-animation-fade" style="-webkit-animation-delay: 0.1s;">
				<p>
					<i class="uk-icon-picture-o"></i> <strong>Full Screen Backgrounds</strong> Use images, videos or slideshow to create a capitavating background.
				</p>
			</div>
			<div id="seed-feature-2" class="uk-hidden-small uk-text-small uk-animation-fade" style="-webkit-animation-delay: 0.4s;">
				<p>
					<i class="uk-icon-mobile"></i> <i class="uk-icon-eye"></i> <strong>Responsive &amp; Retina Ready</strong> Looks stunning on any device size or resolution.
				</p>
			</div>
			<div id="seed-feature-3" class="uk-hidden-small uk-text-small uk-animation-fade" style="-webkit-animation-delay: 0.3s;">
				<p>
					<i class="uk-icon-search"></i> <strong>Site Search</strong> help your visitors find what they are looking for when coming from a broken link.
				</p>
			</div>
			<div id="seed-feature-4" class="uk-hidden-small uk-text-small uk-animation-fade" style="-webkit-animation-delay: 0.2s;">
				<p>
					<i class="uk-icon-twitter"></i> <strong>Social Sharing and Profiles</strong> Easily allow your visitors to share your site on social media and display your social profiles.
				</p>
			</div>
			<div id="seed-feature-5" class="uk-hidden-small uk-text-small uk-animation-fade" style="-webkit-animation-delay: 0.6s;">
				<p>
					<i class="uk-icon-envelope"></i> <strong>Capture Email Leads</strong> Make your site a success from day one. Integrated with MailChimp, Aweber &amp; many more.
				</p>
			</div>
			<div id="seed-feature-6" class="uk-hidden-small uk-text-small uk-animation-fade" style="-webkit-animation-delay: 0.5s;">
				<p>
					<i class="uk-icon-language"></i> <strong>Translation &amp; Multilingual</strong> Change any text string to your native language or works with plugins like WPML.
				</p>
			</div>
		</div>
		<div class="uk-margin-small-bottom">
		<a href="#bmk-features" class="uk-button uk-button-success uk-button-large seed-button-xlarge uk-text-bold" data-uk-smooth-scroll>
			<i class="uk-icon-wordpress"></i>&nbsp;&nbsp;See Features
		</a>
		<a href="#bmk-pricing" class="uk-button uk-button-success uk-button-large seed-button-xlarge uk-text-bold" data-uk-smooth-scroll>
			<i class="uk-icon-shopping-cart"></i>&nbsp;&nbsp;Buy Now
		</a>
		</div>
		<img style="width:175px" src="/images/trust-icons.png">
		<hr>
	</div>

</div>
