<div id="buy-callout-404" class="uk-grid uk-text-center">
    <div class="uk-width-1-1">
        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
        <span class="uk-h3 uk-text-bold uk-margin-right">Start Collecting Vauluable Leads on Your 404 Pages Today!</span>
        <a href="#bmk-pricing" class="uk-button uk-button-primary seed-button-xlarge uk-text-bold" data-uk-smooth-scroll>
        	<i class="uk-icon-wordpress"></i>&nbsp;&nbsp;Buy Now
        </a>
    </div>
    </div>
</div>
