<!-- Twitter -->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<!-- Drip -->
<script type="text/javascript">
    var _dcq = _dcq || [];
    var _dcs = _dcs || {};
    _dcs.account = '2738114';

    (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/2738114.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
    })();
</script>


<!--  Ad Roll -->
<script type="text/javascript">
    adroll_adv_id = "L7E54HWPMBDKLLRQTAW3MA";
    adroll_pix_id = "XTRGMLBD3JGHZNTA7MIDWC";
    (function () {
    var oldonload = window.onload;
    window.onload = function(){
    __adroll_loaded=true;
    var scr = document.createElement("script");
    var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
    scr.setAttribute('async', 'true');
    scr.type = "text/javascript";
    scr.src = host + "/j/roundtrip.js";
    ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
    if(oldonload){oldonload()}};
    }());
</script>
