<div class="widget uk-margin-bottom">
<h3>Newsletter</h3>
<div class="uk-panel uk-panel-box uk-panel-box-primary">
<p style="font-size:13px;">
Subscribe to our newsletter and get <strong>10 FREE Hi-Res Background Images</strong> like the ones on our <a href="http://demo.seedprod.com/coming-soon-pro/" target="_blank">demo</a>.
</p>
<form action="//seedprod.us2.list-manage.com/subscribe/post?u=b917d2a79917ec125d6934c5b&amp;id=34383bb48a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="uk-form" target="_blank" novalidate="">
<div style="position: absolute; left: -5000px;"><input type="text" name="b_b917d2a79917ec125d6934c5b_34383bb48a" value=""></div>

<div class="uk-form-row">
<input type="email" value="" name="EMAIL" class="uk-form-controls id="mce-EMAIL" placeholder="Email" style="width:100%"/>
</div>

<div class="uk-form-row">
	<button name="subscribe" type="submit" class="uk-button uk-button-success"><i class="uk-icon-envelope"></i> Subscribe</button>
<div>

</div>
</form>
</div>
</div>
</div>


<div class="widget">
<h3>Keep in Touch</h3>
	<ul class="uk-list">
		<li><a href="http://twitter.com/seedprod"><i class="uk-icon-twitter"></i> Follow Us on Twitter</a></li>

	</ul>
	<hr>
</div>


<div class="widget">
<h3>Search</h3>
<script>
  (function() {
    var cx = '003570872382702979469:iuwli13rheg';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
    <hr>
</div>

<div class="widget">
<h3>More</h3>
	<ul class="list-unstyled">
	<li><a href="/archive/"><i class="fa fa-list"></i> Archive</a></li>
	<li><a href="http://feeds.feedburner.com/seedprod"><i class="fa fa-rss"></i> RSS</a></li>
	</ul>
	<hr>
</div>

<!--	<h3>Other Posts</h3>
	<div class="related-posts">
		{% for post in site.related_posts limit: 3 %}
			<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</div>
</div>-->
