---
layout: page
title: Showcase
description: View the best designs using the Coming Soon Pro plugin form around the web.
slug: showcase
---

<h1 class="uk-text-center uk-text-bold seed-margin-medium-bottom">Showcase</h1>

<div class="uk-grid uk-text-center">
    <div class="uk-width-medium-2-3 uk-push-1-6 seed-margin-medium-bottom">
                {% for s in site.data.showcase %}
                <div class="uk-thumbnail uk-margin-large-bottom">
                    <img class="img-thumbnail lazy" style="width:600px;height:auto" data-original="/images/showcase/{{ s.large }}" alt="{{ s.name }}" title="{{ s.name }}"><br>
                    <div class="uk-thumbnail-caption">{{ s.name }}<br><a href="#">Back to Top <i class="uk-icon-arrow-up"></i></a> </div>
                </div>
                {% endfor %}

    </div>
</div>


{% include buy_callout.html %}

<script src="/js/jquery.lazyload.min.js"></script>
<script>
$(function() {
    $("img.lazy").lazyload();
});
</script>
