---
layout: page
title: Blog
description: The latest blog posts from SeedProd.com
slug: blog
---

<div class="row">
  <div class="col-md-8">
  	{% for post in paginator.posts %}
  	<div class="post well">
	<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	<div class="meta-head">
		Posted by <a href="/about/">John Turner</a> on {{ post.date | date:"%B %d, %Y"}}
	</div>
	<div class="content">
		{{ post.content }}
	</div>
	<p class="more">
		<a href="{{ post.url }}">Continue Reading &rarr;</a>
	</p>
	</div>
	{% endfor %}
  </div>
  <div class="col-md-4">
  	{% include sidebar %}
  </div>
</div>
<p> <a href="/archive/" class="btn"><i class="icon-list"></i> View the Archives</a> </p>

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Prev</a>
    {% else %}
    <span class="previous">Prev</span>
    {% endif %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>
<!-- Goto Features -->
<div class="alert">
<div id="footer-goto-features">
    <h3>See how SeedProd can make your Website Launch a Success!</h3>
    <a href="/features/" class="btn btn-large btn-seedprod"><i class="icon-star icon-white"></i> See the Features</a>
</div>
</div>
