---
layout: page
title: Blog
description: The latest blog posts from SeedProd.com
slug: blog
---


<div class="uk-grid">
  <div class="uk-width-7-10">
  	{% for post in paginator.posts %}
    <div class="uk-panel uk-panel-box uk-panel-box-secondary seed-padding-large">
        <article class="uk-article">
            <h1 class="uk-article-title uk-text-bold"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        	<div class="uk-article-meta">
        		Posted by <a href="/about/">John Turner</a> on {{ post.date | date:"%B %d, %Y"}}
        	</div>
            <hr class="uk-article-divider">
        	<div class="content">
        		{{ post.content }}
        	</div>
        	<p class="more">
        		<a href="{{ post.url }}">Continue Reading &rarr;</a>
        	</p>
        </article>
	</div>
	{% endfor %}
  </div>
  <div class="uk-width-3-10">
  	{% include sidebar %}
  </div>
</div>


<!-- Pagination links -->
<ul class="uk-pagination">
    {% if paginator.previous_page %}
    <li class="uk-pagination-previous"><a href="{{ paginator.previous_page_path }}" class="previous"><i class="uk-icon-angle-double-left"></i> Prev</a></li>
    {% else %}

    {% endif %}

    {% if paginator.next_page %}
    <li class="uk-pagination-next"><a href="{{ paginator.next_page_path }}" class="next">Next <i class="uk-icon-angle-double-right"></i></a></li>
    {% else %}
    {% endif %}
</ul>


<!-- Goto Features -->
<div class="uk-grid uk-text-center">
    <div class="uk-width-1-1">
        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
        <span class="uk-h3 uk-text-bold uk-margin-right">Make Your Site Launch a Success with the Coming Soon Pro Plugin</span>
        <a href="/pricing/" class="uk-button uk-button-success seed-button-xlarge  uk-text-bold">
        	<i class="uk-icon-wordpress"></i>&nbsp;&nbsp;Buy Now
        </a>
    </div>
    </div>
</div>
