---
layout: page
title: Blog
description: The latest blog posts from SeedProd.com
slug: blog
---


<div class="uk-grid">
  <div class="uk-width-7-10">
  	{% for post in paginator.posts %}
    <div class="uk-panel uk-panel-box uk-panel-box-secondary seed-padding-large">
        <article class="uk-article">
            <h1 class="uk-article-title uk-text-bold"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        	<div class="uk-article-meta">
        		Posted by <a href="/about/">John Turner</a> on {{ post.date | date:"%B %d, %Y"}}
        	</div>
            <hr class="uk-article-divider">
        	<div class="content">
        		{{ post.content }}
        	</div>
        	<p class="more">
        		<a href="{{ post.url }}">Continue Reading &rarr;</a>
        	</p>
        </article>
	</div>
	{% endfor %}
  </div>
  <div class="uk-width-3-10">
  	{% include sidebar %}
  </div>
</div>


<!-- Pagination links -->
<ul class="uk-pagination">
    {% if paginator.previous_page %}
    <li class="uk-pagination-previous"><a href="{{ paginator.previous_page_path }}" class="previous">Prev</a></li>
    {% else %}

    {% endif %}

    {% if paginator.next_page %}
    <li class="uk-pagination-next"><a href="{{ paginator.next_page_path }}" class="next">Next</a></li>
    {% else %}
    {% endif %}
</ul>


<!-- Goto Features -->
<div class="alert">
<div id="footer-goto-features">
    <h3>See how SeedProd can make your Website Launch a Success!</h3>
    <a href="/features/" class="btn btn-large btn-seedprod"><i class="icon-star icon-white"></i> See the Features</a>
</div>
</div>
