<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//cdn.optimizely.com/js/4564016.js"></script>
    <meta charset="utf-8">
    <title>{{ page.title }} - SeedProd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">

    <link rel="stylesheet" href="/style.css" >
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="canonical" href="https://www.seedprod.com{{ page.url | replace:'/index.html','' }}/"/>
    <link rel="alternate" type="application/rss+xml" title="SeedProd RSS" href="http://feeds.feedburner.com/seedprod"/>
  

    {% include google_analytics %}

  </head>

  <body class="{{ page.slug }}">
    <div id="pg">
        <div id="hd">
            <div id="shadow">
                <nav class="navbar navbar-default navbar-inverse" role="navigation">
                  <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topnav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/"><img src="/images/seedprod-logo-white.png" alt="SeedProd Logo"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="topnav">
                      <ul class="nav navbar-nav">
                        <li><a href="/features/"><i class="fa fa-star "></i> Features</a></li>
                        <li><a href="/pricing/"><i class="fa fa-certificate "></i> Pricing</a></li>
                        <li><a href="/showcase/"><i class="fa fa-photo "></i> Showcase</a></li>
                        <li><a href="/blog/"><i class="fa fa-pencil "></i> Blog</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="/support/"><i class="fa fa-support "></i> Support</a></li>
                        <li><a href="https://www.seedprod.com/members"><i class="fa fa-user "></i> My Account</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>

                {% if page.slug == 'home' %}
                  {% include home %}
                {% endif %}
        </div>
    </div> <!-- /#hd -->

    
    <div class="bt-header">
    </div>

    <div id="bd">
        <div class="container">

          {{ content }}

        </div> <!-- .container -->
    </div>

    <footer id="ft">
        <div class="container">
            <div id="footer-wrap">
                <div class="row-fluid">
                    <div class="col-md-2">
                        <div id="footer-1">
                            <h5>SeedProd</h5>
                            <ul class="list-unstyled">
                                <li><a href="/about/">About</a></li>
                                <li><a href="/contact/">Contact</a></li>
                                <li><a href="/testimonials/">Testimonials</a></li>
                                <li><a href="/affiliates/">Affiliates</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div id="footer-2">
                            <ul class="list-unstyled">
                                <li class="dlist"><a href="/terms/">Terms &amp; Conditions</a></li>
                                <li class="dlist"><a href="/refunds/">Refund Policy</a></li>
                                <li class="dlist"><a href="/privacy/">Privacy Policy</a></li>
                                <li><a href="/press-kit/">Press Kit</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="footer-3">
                            <img src="/images/logo-footer.png">
                            <span>
                                Copyright &copy; 2015 SeedProd LLC
                            </span>
                            <a href="https://twitter.com/seedprod" class="twitter-follow-button" data-show-count="false">Follow @seedprod</a>
                        </div>
                    </div>
                </div>
            </div><!-- #footer-wrap -->
        </div>
    </footer><!-- #ft -->

  
  </div><!-- #page-wrap -->

    

    {% include global_js %}


  </body>
</html>
