<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <script src="//cdn.optimizely.com/js/4564016.js"></script> -->
    <meta charset="utf-8">
    <title>{{ page.title }} - SeedProd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">

    <link rel="stylesheet" href="/uikit/css/uikit.custom.css" >
    <link rel="stylesheet" href="/style-b.css" >
    {% if page.canonical == nil %}
    <link rel="canonical" href="{{site.url}}{{ page.url | replace:'/index.html','' }}/" >
    {% else %}
    <link rel="canonical" href="{{site.url}}{{ page.canonical }}" >
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="SeedProd RSS" href="http://feeds.feedburner.com/seedprod" >

    <!-- RUM Check -->
    <script>
    // var _prum = [['id', '5175cfcbabe53d7e26000000'],
    // ['mark', 'firstbyte', (new Date()).getTime()]];
    // (function() {
    //     var s = document.getElementsByTagName('script')[0]
    //     , p = document.createElement('script');
    //     p.async = 'async';
    //     p.src = '//rum-static.pingdom.net/prum.min.js';
    //     s.parentNode.insertBefore(p, s);
    // })();
    </script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->



  </head>

  <body class="{{ page.slug }}">
    <div id="pg">
        <div id="hd">
            <nav class="seed-navbar uk-navbar uk-margin-large-bottom">
                <div class="uk-container uk-container-center">
                <a class="uk-navbar-brand" href="/"><img class="uk-responsive-height" src="/images/seedprod-logo-black.png" alt="SeedProd Logo"></a>
                <ul class="uk-navbar-nav">
                    <li><a href="/features/">Features</a></li>
                    <li><a href="/pricing/">Pricing</a></li>
                    <li><a href="/showcase/">Showcase</a></li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
                <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                  <li><a href="/support/">Support</a></li>
                  <li><a href="https://www.seedprod.com/members">My Account</a></li>
                </ul>
                </div>
            </div>
            </nav>

                {% if page.slug == 'home-b' %}
                    {% include home-b %}
                {% endif %}
    </div> <!-- /#hd -->

    <div id="bd">
        <div class="uk-container uk-container-center">

          {{ content }}

        </div> <!-- .container -->
    </div>

    <footer id="ft" class="uk-margin-large-bottom">
        <div class="uk-container uk-container-center uk-text-center">
            <ul class="uk-subnav uk-subnav-line">
                <li><a href="/about/">About</a></li>
                <li><a href="http://www.shareasale.com/shareasale.cfm?merchantID=51809">Affiliates</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/privacy/">Privacy Policy</a></li>
                <li><a href="/terms/">Terms &amp; Conditions</a></li>
                <li>&copy; SeedProd LLC</li>
            </ul>
            <img id="ft-logo" src="/images/seedprod-logo-black.png">
        </div>
    </footer><!-- #ft -->


  </div><!-- #page-wrap -->



  </body>
</html>
