<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - SeedProd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description}}">

    <link rel="alternate" type="application/rss+xml" title="SeedProd &raquo; Feed" href="http://feeds.feedburner.com/seedprod"/>

    <!-- Le styles -->
    <link rel="stylesheet" href="/prettyphoto/css/prettyPhoto.css">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for le poo poo IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  </head>

  <body class="{{ page.slug }}">
    <div id="page-wrap">
    <div id="header-wrap">
    <div class="navbar">
      <div>
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><img src="/images/seedprod-logo.png" alt="SeedProd Logo"></a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li><a href="/">Home</a></li>
              <li><a href="/plugins/">Plugins</a></li>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/support/">Support</a></li>
            </ul>
          </div><!-- .nav-collapse -->
        </div>
      </div>
    </div>
    {% if page.slug == 'home' %}
      {% include home %}
    {% endif %}
  </div><!-- #header-wrap -->

  <div id="bd">
    <div class="container">
      {{ content }}

    </div> <!-- .container -->
  </div>

    
    <footer>
    <div class="container">
    <div id="footer-wrap">
      <div class="row">
        <div class="span3">
          <div id="footer-1">
          <ul class="unstyled">
            <li><a href="/about/">About Us</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/affiliates/">Affiliates</a></li>
            <li><a href="/refunds/">Refund Policy</a></li>
          </ul>
          </div>
        </div>
        <div class="span6">
          <div id="footer-2">
          <a href="http://twitter.com/johnturner"><img id="twitter-icon" src="/images/icon-twitter.png"></a>
          <a href="http://feeds.feedburner.com/seedprod"><img src="/images/icon-feed.png"></a>
          <p>
          <a href="/privacy/">Privacy</a> | <a href="/terms/">Terms</a>
          </p>
          </div>
        </div> 
        <div class="span3">
          <div id="footer-3">
          <img src="/images/logo-footer.png">
          <p>
          Copyright &copy; 2012 SeedProd.<br>All rights reserved.
          </p>
        </div>
        </div>
      </div>
      </div><!-- #footer-wrap -->
      </div>
    </footer>

  
  </div><!-- #page-wrap -->

    
    <script src="/prettyphoto/js/jquery.prettyPhoto.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto();
    });
    </script>
    {% if page.slug == 'product' %}
      {% include ejunkie_analytics %}
    {% else %}
      {% include google_analytics %}
    {% endif %}


  </body>
</html>
