---
layout: default
---
<div class="uk-grid uk-margin-large-bottom">
	<div class="uk-width-7-10">
        <h1 class="uk-text-bold">Themes - {{ page.title }}</h1>
		<hr class="uk-article-divider">
		<a id="demo-1" href="#"><img src="{{page.large}}" class="uk-thumbnail"></a>
		<div class="uk-margin-top">
		{{content}}
		</div>
	</div>
	<div class="uk-width-3-10">
        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
            <a href="{{page.buy_url}}" class="uk-button uk-button-success uk-text-bold uk-margin-bottom uk-width-1-1 uk-text-bold">Buy {{page.price}}</a>
            <a id="demo" href="#" class="uk-button uk-text-bold uk-width-1-1 uk-text-bold">Live Demo</a>
            <div class="uk-clearfix uk-margin-top">
                {{ page.sidebar }}
            </div>
        </div>
	</div>
</div>
<a href="/themes/"><i class="uk-icon-long-arrow-left"></i> Back to Themes</a>

<script>
document.getElementById("demo").href = '/demo/?demo-url='+encodeURI('{{page.demo_url}}')+'&buy-url='+encodeURI('{{page.buy_url}}');
document.getElementById("demo-1").href = '/demo/?demo-url='+encodeURI('{{page.demo_url}}')+'&buy-url='+encodeURI('{{page.buy_url}}');
</script>
